extends layout 
 
block content 
  h1= title 
 
  form(id='treeForm', action="/resource/tree", method="POST") 
    div.form-group 
        label.treeAttr(for='tree_type') tree type 
        input#tree_type(type='text', name='tree_type') 
    div.form-group 
        label.treeAttr(for='size') tree size 
        input#size(type='text', name='size') 
    div.form-group 
        label.treeAttr(for='age') tree age 
        input#age(type='number', name='age') 
    input(type="submit") 
 
  script. 
    document.forms['treeForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 